.card{
    width: 300px;
    height: 390px;
    box-shadow: 0 4px 8px 0 transparent, 0 6px 20px 0 transparent;
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
    border: 2px solid rgb(0,0,0,0.6);
}
.card>.img-and-quick-view{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card>.img-and-quick-view>img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.card>.product-details{
    
}
.card>.product-details>button{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(240, 174, 0);
    border-radius: 5px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 42px;
    transition: opacity 0.3s ease-in-out;
}
.card>.product-details>button>span{
    margin-right: 1px;
}
.card:hover > .product-details > button {
    opacity: 1;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card>.product-details>button:hover{
    opacity: 0.65;
    cursor: pointer;
    visibility: visible;
}

.card>.product-details>h1{
    font-size: 28px;
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.card>.product-details>h2{
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
