*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.results-container{
    padding: 10% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: 400px; */
    aspect-ratio: 1.5;
    gap: 6%;
}
.result{
    height: fit-content;
    width: fit-content;
    
}