* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(210, 211, 213);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;

}

.product-card {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #878787;
}

.container>.orders {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 2;
    flex-direction: column;
    flex-basis: 2fr;
    max-width: 829px;
    height: fit-content;
}

.container>.orders>.product-list {
    padding: 15px 24px;
}

.product-list>.product-card>img {
    width: 150px;
    margin-right: 25px;
    float: left;
}

.product-list>.product-card .name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 3px 0px;
}

.product-list>.product-card>.seller-name {
    display: inline-block;
    margin-bottom: 14px;
}

.product-card>.qty-count {
    margin-top: 14px;
}

.container>.orders>* {
    background-color: rgb(255, 255, 255);
}

.remove-item {
    transition: color 0.2s ease-in;
}

.remove-item:hover {
    color: rgb(64, 64, 241);
}

.place-order-button>button {
    height: 51px;
    width: 250px;
    padding: 16px 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: orangered;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.place-order-button>.remove {
    color: #878787;
    background-color: white;
}

.qty-count>i {
    cursor: pointer;
    padding: 10px;

}

.qty-count>.quantity>i:hover {
    cursor: pointer;
    color: blue;
    opacity: 0.7;
}

.qty-count>* {
    height: 28px;
}

.qty-count>.quantity>input[type="text"] {
    width: 40px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(165, 158, 158);
    outline: none;
    margin: auto 8px;
    padding-left: 8px;
}

.place-order-button {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.place-order-button>.place-order:hover {
    color: white;
    opacity: 0.7;
}

.place-order-button>button:hover {
    color: rgb(0, 0, 255);
    opacity: 1;
}

.container>.price-summary {
    flex-basis: 1fr;
    flex-grow: 1;
    max-width: 414.5px;
}

.container>.price-summary {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 10px 24px;
    line-height: 1.4;
    margin-top: 20px;
}

.price-summary>* {
    display: flex;
    justify-content: space-between;
}

.price-details {
    padding-bottom: 10px;
    border-bottom: 2px solid #878787;
}

.price-summary>.price {
    margin-top: 18px;
}

.price-summary>.price-details>p {
    font-size: 16px;
    color: #878787;
    text-transform: uppercase;
}

.price-summary>.Total h1 {

    font-size: 24px;
    color: #212121;
}

.price-summary>.Total {
    margin-top: 18px;
    padding-top: 10px;
    border-top: 2px solid #878787;
}

.price-summary>.price h1,
.Disc h1,
.Delivery h1 {
    font-weight: 400;
    font-size: 19px;
    color: #212121;
}


@media screen and (min-width:1020px) {
    .container>.orders {
        margin-left: 2.5%;
    }

    .container>.price-summary {
        margin-right: 2.5%;
    }
}

@media screen and (max-width:1020px) {
    .container {
        flex-direction: column;
        /* align-content: center; */
        flex-grow: 1;
        gap: 15px;
    }

    .container>* {
        flex-grow: 1;
        margin: 0px 10px;
        max-width: none !important;
    }

    .container>.orders {
        margin-bottom: 0px;
        margin-right: 18px;
    }

    .container>.price-summary {
        margin-top: 0px;
        margin-right: 18px;

    }
}

@media screen and (max-width:670px) {
    .container {
        gap: 5px;
    }
}

@media screen and (max-width:1100px) {
    .product-card>.name-date {
        flex-direction: column;
        align-items: flex-start !important;
    }

}

@media screen and (max-width:1100px) {
    .product-card>.name-date> {
        flex-direction: column;
        align-items: flex-start !important;
    }
}
