


.company-name{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.company-name>img{
    float: left;
}
.head-icons{
    display: flex !important;
    flex-basis: 40%;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    gap: 1em;
}
.navbar{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex: 1;
    padding: 20px;
}
a{
    text-decoration: none;
}
.navbar a{
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    padding-right: 25px;
}
.navbar p{
    color: rgb(255, 255, 255);
    font-size: 1.4em;

    margin-left: auto;
}
.prev-next{
    margin: 4vh 0;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}
.prev-next div{
    display: inline-block;
}
.main-content{
    display: flex;
}
.main-content>*{
    flex-basis: 50%;
}
.product-image{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.product-image>p{
    padding: 5vh 15%;
}
.product-image>img{
    height: 40vh;
    margin-bottom: 5px;
}
.product-image>.more-images{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.product-image>.more-images img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 transparent, 0 6px 20px 0 transparent;
    transition: box-shadow 0.2s ease;
}
.product-image>.more-images img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-image>.more-images #one{
    width: 56px;
    height: 56px;
    border: 1px solid rgb(0, 0, 0);
}
.product-buy>h1{
    font-size: 3em;
    font-weight: bold;
    

}
#product-id{
    display: inline-block;
    margin: 0px 0px 30px 0px;
    font-weight: lighter;
    font-size: 1.2em;
    font-style: italic;
}
#price-display{
    font-weight: normal;
    font-size: 2em;
}
.quantity{
    margin-top: 15px;
}
#quantity{
    margin-top: 5px;
    margin-bottom: 20px;
}
input[type="number"]{
    margin-top: 10px !important;
    font-size: 19px;
    width: 56px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.893);
    border: solid 1px black;
}
#display-image {
  transition: opacity 0.4s;
  opacity: 1;
}
button{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: large;
    display: inline-block;
    width: 30%;
    height: 50px;
    margin-bottom: 10px !important;
}
#btn-cart{
    background-color:white;
    color: black;
    border: solid 0.8px black;
    margin-right: 10px;
    border-radius: 20px;
}
#btn-cart:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
#btn-buy{
    background-color: rgb(31, 31, 31);
    border-radius: 20px;

}
#btn-buy:hover{
    background-color: rgb(31, 31, 31, 0.8);
}
.product-info{
    margin: 40px 40% 30px 0px;
}
.product-info>h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
hr{
    width: 60%;
}
.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    padding: 30px 15%;
}
.footer h1{
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 23px;
}
.payment-info img{
   
    display: block;
    margin: 10px 0px;
    width: 60px;
    height: 35px;
}
.payment-info{
    padding-left: 12%;
}
.footer>div{
    flex-basis: 33%;
}
